@import url("./Header.css");
@import url("./Qualifications.css");
@import url("./Socials.css");
@import url("./Projects.css");
@import url("./index.css");

.App {
  text-align: center;
  background-color: #ffffff;
  position: relative;
}

.App-body {
  display: flex;
  flex-direction: column;
}

.body-about {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  height: 100vh;
  align-self: flex-start;
  color: white;
}

.body-about-img-wrapper {
  position: absolute;
}

.body-about-img {
  height: 70vh;
  width: 99.4vw;
  object-fit: cover;
}

.body-about-description {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
  z-index: 2;
}

.description-text {
  text-align: left;
  font-family: "Roboto Slab";
  font-weight: 300;
}

.link {
  text-decoration: none;
  color: black;
}
