@media only screen and (min-width: 1080px) {
  .body-menu {
    margin-left: 7.5%;
    height: 500px;
  }

  .menu-item {
    border-radius: 12px;
    width: 300px;
    padding: 24.5px 35px;
  }

  .menu-item-title {
    margin-right: 15px;
    padding: 0px 10px 0px 0px;
    font-size: 12px;
  }

  .menu-item-role {
    font-size: 7px;
  }

  .menu-item-status {
    font-size: 7px;
    padding: 3px 7px;
    border-radius: 12px;
  }
  .menu-item-description {
    font-size: 8.5px;
    margin-top: 10px;
  }
  .menu-item-breakdown {
    font-size: 8.5px;
    line-height: 1.7;
    margin-top: 10px;
  }
  .menu-item-demo {
    font-size: 8.5px;
    margin-top: 20px;
    transition: 0s;
  }
}
@media only screen and (min-width: 1280px) {
  .body-menu {
    margin-left: 7.5%;
    height: 500px;
  }

  .menu-item {
    border-radius: 12px;
    width: 400px;
    padding: 20px 35px;
  }

  .menu-item-title {
    margin-right: 15px;
    padding: 0px 10px 0px 0px;
    font-size: 15px;
  }

  .menu-item-role {
    font-size: 9px;
  }

  .menu-item-status {
    font-size: 9px;
    padding: 3px 7px;
    border-radius: 12px;
  }
  .menu-item-description {
    font-size: 10.5px;
    margin-top: 10px;
  }
  .menu-item-breakdown {
    font-size: 10.5px;
    line-height: 1.7;
    margin-top: 10px;
  }
  .menu-item-demo {
    font-size: 10.5px;
    margin-top: 20px;
    transition: 0s;
  }
}
@media only screen and (min-width: 1440px) {
  .body-menu {
    margin-left: 7.5%;
    height: 600px;
  }

  .menu-item {
    border-radius: 12px;
    width: 550px;
    padding: 25px 40px;
  }

  .menu-item-title {
    margin-right: 15px;
    padding: 0px 10px 0px 0px;
    font-size: 17.5px;
  }

  .menu-item-role {
    font-size: 11px;
  }

  .menu-item-status {
    font-size: 11px;
    padding: 3px 7px;
    border-radius: 12px;
  }
  .menu-item-description {
    font-size: 12.5px;
    margin-top: 10px;
  }
  .menu-item-breakdown {
    font-size: 12.5px;
    line-height: 1.7;
    margin-top: 10px;
  }
  .menu-item-demo {
    font-size: 12.5px;
    margin-top: 20px;
    transition: 0s;
  }
}
@media only screen and (min-width: 1920px) {
  .body-menu {
    height: 700px;
  }

  .menu-item {
    border-radius: 12px;
    width: 575px;
    padding: 35px 47.5px;
  }

  .menu-item-title {
    margin-right: 15px;
    padding: 0px 10px 0px 0px;
    font-size: 20px;
  }

  .menu-item-role {
    font-size: 12px;
  }

  .menu-item-status {
    font-size: 12px;
    padding: 3px 7px;
    border-radius: 12px;
  }
  .menu-item-description {
    font-size: 14px;
    margin-top: 10px;
  }
  .menu-item-breakdown {
    font-size: 14px;
    line-height: 1.7;
    margin-top: 10px;
  }
  .menu-item-demo {
    font-size: 14px;
    margin-top: 20px;
    transition: 0s;
  }
}

.body-contents {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  color: white;
}

.body-menu .menu-item:last-child {
  margin-right: 0;
}

.body-header {
  text-align: left;
  z-index: 2;
}

.body-title {
  font-family: "Work Sans";
  font-weight: 800;
  color: inherit;
  text-align: left;
}

.menu-item {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  text-align: left;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}

.menu-item-text {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-item-title {
  font-family: "Work Sans";
  font-weight: 900;
  white-space: nowrap;
}

.menu-item-role {
  font-family: "Work Sans";
  font-weight: 400;
  text-align: right;
  width: 2000px;
  justify-self: flex-end;
}

.menu-item-status {
  font-family: "Work Sans";
  font-weight: bold;
  text-align: left;
  border-radius: 12px;
  color: white;
}

.menu-item-description {
  font-family: "Work Sans";
  font-weight: 400;
}

.menu-item-breakdown {
  font-family: "Work Sans";
  font-weight: 400;
  line-height: 1.7;
}

.menu-item-demo {
  font-weight: 600;
  font-family: "Work Sans";
  text-transform: uppercase;
  cursor: pointer;
}

.menu-item-demo:hover {
  font-weight: 900;
  transition: 0s;
}

.body-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
}
