@media screen and (max-width: 1280px) {
  .socials {
    position: absolute;
    bottom: 0px;
    left: 50%;
    flex-direction: row;
    transform: translate(-50%, 0%);
  }

  .socials-col {
    padding: 6px 0px;
    border-radius: 10px 0px 0px 10px;
  }

  .socials-img-wrapper {
    width: 20px;
    height: 20px;
  }

  .socials-img {
    width: 12.5px;
    height: 12.5px;
    object-fit: cover;
    border-radius: 100%;
    margin-top: 2px;
    padding: 1px;
    box-shadow: 1px 1px 8px rgb(236, 236, 236);
  }
}

@media screen and (min-width: 1280px) {
  .socials {
    position: fixed;
    top: 50%;
    right: 0px;
    transform: translate(0%, -50%);
  }

  .socials-col {
    padding: 7.5px 3px;
    border-radius: 10px 0px 0px 10px;
    flex-direction: column;
  }

  .socials-img-wrapper {
    width: 27.5px;
    height: 27.5px;
  }

  .socials-img {
    width: 17.5px;
    height: 17.5px;
    object-fit: cover;
    border-radius: 100%;
    margin-top: 1px;
    padding: 1px;
    box-shadow: 1px 1px 8px rgb(198, 198, 198);
  }

  .socials-img:hover {
    width: 22.5px;
    margin-top: 0px;
    height: 22.5px;
  }
}

@media screen and (min-width: 1920px) {
  .socials-col {
    padding: 10px 4px;
    border-radius: 10px 0px 0px 10px;
  }

  .socials-img-wrapper {
    width: 30px;
    height: 30px;
  }

  .socials-img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    border-radius: 100%;
    margin-top: 1px;
    padding: 1px;
    box-shadow: 1px 1px 8px rgb(198, 198, 198);
  }

  .socials-img:hover {
    width: 25px;
    margin-top: 0px;
    height: 25px;
  }
}

.socials-col {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
}
