@media only screen and (max-width: 2560px) {
  * {
    transition: 0s;
  }

  .body-qualifications-row {
    margin-left: 175px;
    height: 775px;
    width: 750px;
    border-radius: 12px;
  }

  .body-qualifications-main-title {
    line-height: 2em;
    font-size: 19px;
  }
  .body-qualifications-main-title {
    font-family: "Work Sans";
    text-transform: uppercase;
    font-weight: 900;
  }

  .body-qualifications-item {
    margin-right: 15px;
    border-radius: 12px;
    padding: 25px 50px;
  }

  .body-qualifications-proficiency-langs {
    margin-top: 5px;
  }

  .body-qualifications-lang-img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
  }

  .body-qualifications-proficiency-item {
    height: 25px;
    margin-right: 15px;
    border-radius: 12px;
    padding: 5px 15px 5px 0px;
  }

  .body-qualifications-lang-title {
    font-size: 15px;
    line-height: 2em;
  }

  .body-title {
    font-size: 40px;
  }

  .description-text {
    margin-top: 30px;
    line-height: 2em;
    width: 1200px;
    font-size: 24px;
  }

  .body-qualifications-img {
    height: 70vh;
  }
}

@media screen and (max-width: 2450px) {
  * {
    transition: 0s;
  }

  .body-qualifications-row {
    margin-left: 175px;
    height: 750px;
    width: 725px;
    border-radius: 12px;
  }

  .body-qualifications-main-title {
    line-height: 2em;
    font-size: 16px;
  }

  .body-qualifications-item {
    margin-right: 12.5px;
    border-radius: 12px;
    padding: 20px 35px;
  }

  .body-qualifications-proficiency-langs {
    margin-top: 5px;
  }

  .body-qualifications-lang-img {
    height: 25px;
    width: 25px;
    margin-right: 7.5px;
  }

  .body-qualifications-proficiency-item {
    height: 25px;
    margin-right: 15px;
    border-radius: 12px;
    padding: 5px 15px 5px 0px;
  }

  .body-qualifications-lang-title {
    font-size: 13px;
    line-height: 1.8em;
  }

  .body-title {
    font-size: 35px;
  }

  .description-text {
    margin-top: 20px;
    line-height: 2em;
    width: 1000px;
    font-size: 22px;
  }
}

@media screen and (max-width: 2100px) {
  * {
    transition: 0s;
  }

  .body-qualifications-row {
    margin-left: 175px;
    height: 640px;
    width: 700px;
    padding: 12px 0px;
    border-radius: 10px;
  }

  .body-qualifications-item {
    margin-right: 10px;
    border-radius: 12px;
    padding: 17px 32px;
  }

  .body-qualifications-proficiency-langs {
    margin-top: 5px;
  }

  .body-qualifications-lang-img {
    height: 20px;
    width: 20px;
    margin-right: 5px;
  }

  .body-qualifications-proficiency-item {
    height: 25px;
    margin-right: 15px;
    border-radius: 11px;
    padding: 3px 12px 3px 0px;
  }

  .body-title {
    font-size: 32.5px;
  }

  .description-text {
    margin-top: 20px;
    line-height: 2em;
    width: 850px;
    font-size: 20px;
  }
}

@media screen and (max-width: 1920px) {
  * {
    transition: 0s;
  }

  .body-qualifications-row {
    margin-left: 175px;
    height: 550px;
    width: 700px;
    border-radius: 10px;
  }

  .body-qualifications-main-title {
    line-height: 1.8em;
    font-size: 13px;
  }

  .body-qualifications-item {
    margin-right: 10px;
    border-radius: 12px;
    padding: 15px 25px;
  }

  .body-qualifications-proficiency-langs {
    margin-top: 5px;
  }

  .body-qualifications-lang-img {
    height: 20px;
    width: 20px;
    margin-right: 5px;
  }

  .body-qualifications-proficiency-item {
    height: 25px;
    margin-right: 15px;
    border-radius: 10px;
    padding: 1px 8px 1px 0px;
  }

  .body-qualifications-lang-title {
    font-size: 10px;
    line-height: 1.6em;
  }

  .body-title {
    font-size: 30px;
  }

  .description-text {
    margin-top: 20px;
    line-height: 2em;
    width: 800px;
    font-size: 18px;
  }
}

@media screen and (max-width: 1280px) {
  * {
    transition: 0s;
  }

  .body-header,
  .body-about-description {
    margin-left: 100px !important;
  }

  .body-qualifications-row {
    margin-left: 100px;
    height: 400px;
    width: 500px;
    border-radius: 10px;
  }

  .body-qualifications-main-title {
    line-height: 1.5em;
    font-size: 10px;
  }

  .body-qualifications-item {
    margin-right: 10px;
    border-radius: 12px;
    padding: 10px 25px;
  }

  .body-qualifications-proficiency-langs {
    margin-top: 3.5px;
  }

  .body-qualifications-lang-img {
    height: 17.5px;
    width: 17.5px;
    margin-right: 5px;
  }

  .body-qualifications-proficiency-item {
    height: 25px;
    margin-right: 12.5px;
    border-radius: 10px;
    padding: 1px 4px 1px 0px;
  }

  .body-qualifications-lang-title {
    font-size: 9px;
    line-height: 1.4em;
  }

  .body-title {
    font-size: 20px;
  }

  .description-text {
    margin-top: 15px;
    line-height: 2em;
    width: 600px;
    font-size: 12px;
  }
}

/* Default styles */

.body-qualifications {
  display: flex;
  height: 100vh;
  flex-direction: row;
  align-items: center;
  position: relative;
  color: white;
}

.body-qualifications-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  z-index: 2;
}

.body-qualifications-img-wrapper {
  position: absolute;
}

.body-qualifications-img {
  object-fit: cover;
  width: 99.4vw;
}

.body-qualifications-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: black;
  background: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.body-qualifications-lang-img {
  object-fit: contain;
  align-self: center;
}

.body-qualifications-langs-grid {
  display: flex;
  flex-direction: column;
}

.body-qualifications-proficiency-langs {
  display: flex;
  flex-direction: row;
}

.body-qualifications-proficiency-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: rgb(255, 255, 255);
  color: black;
}

.body-qualifications-lang-title {
  font-family: "Work Sans";
  font-weight: 500;
  text-transform: uppercase;
}

.body-qualifications-main-title {
  font-family: "Work Sans";
  text-transform: uppercase;
  font-weight: 900;
}
